@use "sass:map";

$themes: (
  "orange": (
    primary: #ff8c00,
    secondary: #0078b3,
    positive: #12b390,
    negative: #ff4b0d,
    dark: #413d45,
    medium: #89868b,
    light: #cfced0,
    backdrop: #f4f2ed,
    active: #fff8f1,
    marginal-bg: #ff8c00,
    marginal-text: #fff,
    marginal-btn: rgba(#fff, 0.56),
    marginal-btn-active: #fff,
  ),
  "blue": (
    primary: #0078b3,
    secondary: #b38b09,
    positive: #09b38f,
    negative: #b33c12,
    dark: #413d45,
    medium: #89868b,
    light: #cfced0,
    backdrop: #f4f2ed,
    active: #fff8f1,
    marginal-bg: #0078b3,
    marginal-text: #fff,
    marginal-btn: rgba(#fff, 0.56),
    marginal-btn-active: #fff,
  ),
  "high-contrast": (
    primary: #000,
    secondary: #000,
    positive: #000,
    negative: #000,
    dark: #000,
    medium: #000,
    light: #000,
    backdrop: #fff,
    active: #fff8f1,
    marginal-bg: #fff,
    marginal-text: #000,
    marginal-btn: rgba(#000, 0.7),
    marginal-btn-active: #000,
  ),
);

@each $theme, $colors in $themes {
  [data-theme="#{$theme}"] {
    @each $name, $color in $colors {
      .bg-#{$name} {
        background: $color !important;
      }
      .text-#{$name} {
        color: $color !important;
      }
    }

    // quasar component overrides
    .q-field__control,
    .q-item--active {
      color: map.get($colors, primary) !important;
    }
  }
}
